<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_bush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,554},{101,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,60}}</string>
                <key>sourceSize</key>
                <string>{101,60}</string>
            </dict>
            <key>bg1_bush2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,554},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>bg1_bush3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,430},{109,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,60}}</string>
                <key>sourceSize</key>
                <string>{109,60}</string>
            </dict>
            <key>bg1_bush4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{186,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,60}}</string>
                <key>sourceSize</key>
                <string>{186,60}</string>
            </dict>
            <key>bg1_bush5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>bg1_bush6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,492},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>bg1_bush7.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,430},{128,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,60}</string>
            </dict>
            <key>bg1_bush8.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,368},{134,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,60}}</string>
                <key>sourceSize</key>
                <string>{134,60}</string>
            </dict>
            <key>bg1_tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,246},{91,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,120}}</string>
                <key>sourceSize</key>
                <string>{91,120}</string>
            </dict>
            <key>bg1_tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,124},{104,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,120}}</string>
                <key>sourceSize</key>
                <string>{104,120}</string>
            </dict>
            <key>bg1_tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{111,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,120}}</string>
                <key>sourceSize</key>
                <string>{111,120}</string>
            </dict>
            <key>bg1_tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,120}}</string>
                <key>sourceSize</key>
                <string>{135,120}</string>
            </dict>
            <key>bg1_tree5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{132,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,120}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>bg1_tree6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,246},{95,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,120}}</string>
                <key>sourceSize</key>
                <string>{95,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background2low.png</string>
            <key>size</key>
            <string>{256,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be8e073c14d3a2d3c843a4ee7b4b42a$</string>
            <key>textureFileName</key>
            <string>background2low.png</string>
        </dict>
    </dict>
</plist>
