<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_tree7.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{75,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,120}}</string>
                <key>sourceSize</key>
                <string>{75,120}</string>
            </dict>
            <key>bg_tree11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{122,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,118}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>bg_tree13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,120}}</string>
                <key>sourceSize</key>
                <string>{211,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background3low.png</string>
            <key>size</key>
            <string>{416,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1db80becc9f5863b996338be94e4d18$</string>
            <key>textureFileName</key>
            <string>background3low.png</string>
        </dict>
    </dict>
</plist>
