<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_bush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,626},{253,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,150}}</string>
                <key>sourceSize</key>
                <string>{253,150}</string>
            </dict>
            <key>bg1_bush2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,778},{196,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,150}}</string>
                <key>sourceSize</key>
                <string>{196,150}</string>
            </dict>
            <key>bg1_bush3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,626},{273,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,150}}</string>
                <key>sourceSize</key>
                <string>{273,150}</string>
            </dict>
            <key>bg1_bush4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,150}}</string>
                <key>sourceSize</key>
                <string>{465,150}</string>
            </dict>
            <key>bg1_bush5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{344,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,150}}</string>
                <key>sourceSize</key>
                <string>{344,150}</string>
            </dict>
            <key>bg1_bush6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,778},{261,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,150}}</string>
                <key>sourceSize</key>
                <string>{261,150}</string>
            </dict>
            <key>bg1_bush7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{320,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,150}}</string>
                <key>sourceSize</key>
                <string>{320,150}</string>
            </dict>
            <key>bg1_bush8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{336,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,150}}</string>
                <key>sourceSize</key>
                <string>{336,150}</string>
            </dict>
            <key>bg1_tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,544},{228,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,300}}</string>
                <key>sourceSize</key>
                <string>{228,300}</string>
            </dict>
            <key>bg1_tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,304},{260,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,300}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>bg1_tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,324},{277,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,300}}</string>
                <key>sourceSize</key>
                <string>{277,300}</string>
            </dict>
            <key>bg1_tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{338,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,300}}</string>
                <key>sourceSize</key>
                <string>{338,300}</string>
            </dict>
            <key>bg1_tree5.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{330,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,300}}</string>
                <key>sourceSize</key>
                <string>{330,300}</string>
            </dict>
            <key>bg1_tree6.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,304},{238,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,300}}</string>
                <key>sourceSize</key>
                <string>{238,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background2.png</string>
            <key>size</key>
            <string>{1012,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0781dd66e2f52e366d64ee8093939976$</string>
            <key>textureFileName</key>
            <string>background2.png</string>
        </dict>
    </dict>
</plist>
