<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_femmage_attack0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,96},{48,96}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{48,96}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{44,90}}</string>
                <key>offset</key>
                <string>{12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{44,90}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,726},{38,92}}</string>
                <key>offset</key>
                <string>{15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,55},{38,92}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{38,94}}</string>
                <key>offset</key>
                <string>{15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,53},{38,94}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{44,92}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,55},{44,92}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,820},{36,92}}</string>
                <key>offset</key>
                <string>{15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,55},{36,92}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,820},{36,92}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,55},{36,92}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,284},{46,88}}</string>
                <key>offset</key>
                <string>{13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,59},{46,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,194},{50,88}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,59},{50,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,462},{46,86}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,59},{46,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,374},{46,86}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,59},{46,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,550},{48,86}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,60},{48,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{62,88}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,58},{62,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{74,88}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,58},{74,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{76,86}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,59},{76,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,86}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{78,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{76,86}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{76,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{72,86}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,59},{72,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{62,86}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,58},{62,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{48,88}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,57},{48,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,638},{44,86}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,58},{44,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,462},{46,86}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,59},{46,86}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_femmage2low.png</string>
            <key>size</key>
            <string>{128,914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9ddb4941450cae30b7dfb1f48a9b309$</string>
            <key>textureFileName</key>
            <string>botanic_femmage2low.png</string>
        </dict>
    </dict>
</plist>
