<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_archer_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,282}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,63},{135,282}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{135,284}}</string>
                <key>offset</key>
                <string>{4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,61},{135,284}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{135,292}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,53},{135,292}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{135,308}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,37},{135,308}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,139},{135,330}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,15},{135,330}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{141,342}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,3},{141,342}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,296},{159,202}}</string>
                <key>offset</key>
                <string>{-21,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,138},{159,202}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,435},{165,208}}</string>
                <key>offset</key>
                <string>{-19,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,133},{165,208}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{171,216}}</string>
                <key>offset</key>
                <string>{-17,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,126},{171,216}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,628},{177,224}}</string>
                <key>offset</key>
                <string>{-14,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,117},{177,224}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,777},{179,226}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,113},{179,226}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,807},{179,220}}</string>
                <key>offset</key>
                <string>{-16,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,121},{179,220}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,817},{181,214}}</string>
                <key>offset</key>
                <string>{-18,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,131},{181,214}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,457},{179,208}}</string>
                <key>offset</key>
                <string>{-16,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,137},{179,208}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{179,210}}</string>
                <key>offset</key>
                <string>{-14,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,139},{179,210}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,638},{177,216}}</string>
                <key>offset</key>
                <string>{-15,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,133},{177,216}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,602},{173,224}}</string>
                <key>offset</key>
                <string>{-18,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,125},{173,224}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,457},{169,232}}</string>
                <key>offset</key>
                <string>{-20,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,117},{169,232}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{163,236}}</string>
                <key>offset</key>
                <string>{-22,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,113},{163,236}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,276},{157,226}}</string>
                <key>offset</key>
                <string>{-24,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,121},{157,226}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
            <key>botanic_archer_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,139},{155,216}}</string>
                <key>offset</key>
                <string>{-26,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,130},{155,216}}</string>
                <key>sourceSize</key>
                <string>{259,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_archer1.png</string>
            <key>size</key>
            <string>{894,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d9e4c7d4a52e61d117fd54759b12a8d$</string>
            <key>textureFileName</key>
            <string>botanic_archer1.png</string>
        </dict>
    </dict>
</plist>
