<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_priest_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,54},{54,92}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,41},{54,92}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,130},{52,94}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,41},{52,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{50,94}}</string>
                <key>offset</key>
                <string>{19,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,44},{50,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{52,92}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,46},{52,92}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,110},{54,90}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,48},{54,90}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,96},{56,90}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{56,90}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,82},{62,90}}</string>
                <key>offset</key>
                <string>{15,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,47},{62,90}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,166},{68,86}}</string>
                <key>offset</key>
                <string>{17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{68,86}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,146},{76,88}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,42},{76,88}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{78,92}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,35},{78,92}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,130},{78,102}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,25},{78,102}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,130},{84,114}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{84,114}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{88,122}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{88,122}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{92,126}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{92,126}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{100,126}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{100,126}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,126}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{108,126}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,126}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{108,126}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,130},{104,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{104,120}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_priest1low.png</string>
            <key>size</key>
            <string>{662,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2926a827ea55792670ce3eda28746f7e$</string>
            <key>textureFileName</key>
            <string>botanic_priest1low.png</string>
        </dict>
    </dict>
</plist>
