<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_priest_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,783},{130,231}}</string>
                <key>offset</key>
                <string>{44,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{130,231}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,274},{126,233}}</string>
                <key>offset</key>
                <string>{46,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,104},{126,233}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,509},{122,235}}</string>
                <key>offset</key>
                <string>{48,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,109},{122,235}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,460},{126,229}}</string>
                <key>offset</key>
                <string>{46,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,116},{126,229}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,789},{132,223}}</string>
                <key>offset</key>
                <string>{43,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,122},{132,223}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{138,223}}</string>
                <key>offset</key>
                <string>{40,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,122},{138,223}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,746},{150,221}}</string>
                <key>offset</key>
                <string>{39,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,121},{150,221}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,737},{168,215}}</string>
                <key>offset</key>
                <string>{43,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,116},{168,215}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,274},{184,217}}</string>
                <key>offset</key>
                <string>{49,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,106},{184,217}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,783},{192,231}}</string>
                <key>offset</key>
                <string>{52,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,87},{192,231}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,482},{194,253}}</string>
                <key>offset</key>
                <string>{50,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{194,253}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,274},{206,281}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,37},{206,281}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{220,305}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,13},{220,305}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,315}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,3},{228,315}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{248,313}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{248,313}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{270,313}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{270,313}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{270,313}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{270,313}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,482},{256,299}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{256,299}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_priest1.png</string>
            <key>size</key>
            <string>{949,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:632a2dc707a7850c8b560592b93a9920$</string>
            <key>textureFileName</key>
            <string>botanic_priest1.png</string>
        </dict>
    </dict>
</plist>
