<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_daemon_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{279,209}}</string>
                <key>offset</key>
                <string>{102,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,95},{279,209}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,219},{285,197}}</string>
                <key>offset</key>
                <string>{97,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,113},{285,197}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,213},{293,199}}</string>
                <key>offset</key>
                <string>{86,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,118},{293,199}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{291,201}}</string>
                <key>offset</key>
                <string>{76,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,123},{291,201}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,219},{335,215}}</string>
                <key>offset</key>
                <string>{19,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,116},{335,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,215}}</string>
                <key>offset</key>
                <string>{19,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,116},{341,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{335,215}}</string>
                <key>offset</key>
                <string>{19,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,116},{335,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_daemon3.png</string>
            <key>size</key>
            <string>{963,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:998363c7736f08a621d5d17eb9c7fd04$</string>
            <key>textureFileName</key>
            <string>botanic_daemon3.png</string>
        </dict>
    </dict>
</plist>
