<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_femmage_attack0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,239}}</string>
                <key>offset</key>
                <string>{23,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,111},{116,239}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,231},{108,225}}</string>
                <key>offset</key>
                <string>{30,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,142},{108,225}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,243},{94,229}}</string>
                <key>offset</key>
                <string>{36,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,138},{94,229}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{90,233}}</string>
                <key>offset</key>
                <string>{38,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,134},{90,233}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,233},{108,227}}</string>
                <key>offset</key>
                <string>{48,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,141},{108,227}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{90,229}}</string>
                <key>offset</key>
                <string>{37,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,139},{90,229}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{88,227}}</string>
                <key>offset</key>
                <string>{28,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,140},{88,227}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,223},{112,219}}</string>
                <key>offset</key>
                <string>{34,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,148},{112,219}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{120,219}}</string>
                <key>offset</key>
                <string>{36,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,148},{120,219}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,432},{110,213}}</string>
                <key>offset</key>
                <string>{18,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,149},{110,213}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,217},{112,213}}</string>
                <key>offset</key>
                <string>{19,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,149},{112,213}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,432},{118,213}}</string>
                <key>offset</key>
                <string>{23,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,150},{118,213}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{154,215}}</string>
                <key>offset</key>
                <string>{12,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,148},{154,215}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,462},{180,217}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,146},{180,217}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{192,215}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,147},{192,215}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,444},{194,213}}</string>
                <key>offset</key>
                <string>{-7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,150},{194,213}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{192,213}}</string>
                <key>offset</key>
                <string>{-5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,150},{192,213}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{180,213}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,149},{180,213}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,217},{154,213}}</string>
                <key>offset</key>
                <string>{12,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,147},{154,213}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,219},{120,215}}</string>
                <key>offset</key>
                <string>{22,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,146},{120,215}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,432},{112,213}}</string>
                <key>offset</key>
                <string>{19,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,148},{112,213}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,432},{110,213}}</string>
                <key>offset</key>
                <string>{18,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,149},{110,213}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_femmage2.png</string>
            <key>size</key>
            <string>{999,647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e0d6cd0a8e7cb5ca9be40c69f4a316f$</string>
            <key>textureFileName</key>
            <string>botanic_femmage2.png</string>
        </dict>
    </dict>
</plist>
