<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_daemon_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,562},{147,213}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,142},{147,213}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,474},{141,211}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,136},{141,211}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,261},{173,211}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,125},{173,211}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,568},{245,209}}</string>
                <key>offset</key>
                <string>{25,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,113},{245,209}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{303,249}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,58},{303,249}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{341,289}}</string>
                <key>offset</key>
                <string>{-20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,8},{341,289}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,279}}</string>
                <key>offset</key>
                <string>{-33,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{359,279}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{347,283}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,10},{347,283}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{257,289}}</string>
                <key>offset</key>
                <string>{71,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,2},{257,289}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,287},{249,279}}</string>
                <key>offset</key>
                <string>{86,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,14},{249,279}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,574},{261,259}}</string>
                <key>offset</key>
                <string>{95,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,36},{261,259}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,287},{273,229}}</string>
                <key>offset</key>
                <string>{101,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,70},{273,229}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_daemon2.png</string>
            <key>size</key>
            <string>{1017,879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3476b05476455f30e0718a6a70c53d3d$</string>
            <key>textureFileName</key>
            <string>botanic_daemon2.png</string>
        </dict>
    </dict>
</plist>
