<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pModernSoldier0.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pModernSoldier1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pModernSoldier2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pNinjaMelee0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pNinjaMelee1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pNinjaMelee2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pNinjaRange0.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pNinjaRange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pNinjaRange2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pPinkie0.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pPinkie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pPinkie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pPvP0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pPvP1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pRobot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pRobot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pRobot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pSheep0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pSheep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pSheep2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pSoldier0.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pSoldier1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pSoldier2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pStats0.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pStats1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pTroll0.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pTroll1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pTroll2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pUnlock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pViking0.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pViking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pViking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pVsAI0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pVsAI1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>random0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>random1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons3.png</string>
            <key>size</key>
            <string>{1004,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a282dda876f2357b898f92fc121e616f:8a5f77ef90afcd47e95b125fc693f3a3:9a585fc178ceade1b234a649b08ec128$</string>
            <key>textureFileName</key>
            <string>buttons3.png</string>
        </dict>
    </dict>
</plist>
