<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireball_hit_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,220},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireball_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,666},{208,184}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,43},{208,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireball_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,668},{234,198}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,33},{234,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireball_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{242,210}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{242,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireball_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,216}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{246,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireball_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{232,222}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{232,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireball_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{236,222}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{236,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireball_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{236,222}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{236,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireball_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,226},{230,220}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{230,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireball_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,448},{226,216}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{226,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects1.png</string>
            <key>size</key>
            <string>{610,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c4272ef35a1260209d16ddb0e0901cb$</string>
            <key>textureFileName</key>
            <string>effects1.png</string>
        </dict>
    </dict>
</plist>
