<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke_up0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{1,1}}</string>
                <key>offset</key>
                <string>{-76.5,63.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,300},{34,30}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,93},{34,30}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,300},{64,70}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,53},{64,70}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,104},{78,76}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{78,76}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{100,86}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,39},{100,86}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,182},{116,98}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,28},{116,98}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{126,106}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{126,106}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{126,106}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{126,106}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,378},{138,120}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{138,120}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,378},{138,120}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{138,120}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{142,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{142,120}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{142,120}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{142,120}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{146,124}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{146,124}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{146,124}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{146,124}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{150,126}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
            <key>smoke_up0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{150,126}}</string>
                <key>sourceSize</key>
                <string>{154,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effects2low.png</string>
            <key>size</key>
            <string>{250,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:147ac3fd07abec3941837c67489f27f6$</string>
            <key>textureFileName</key>
            <string>effects2low.png</string>
        </dict>
    </dict>
</plist>
