<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_skelet_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{169,244}}</string>
                <key>offset</key>
                <string>{-59,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{169,244}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{181,238}}</string>
                <key>offset</key>
                <string>{-53,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{181,238}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,482},{217,234}}</string>
                <key>offset</key>
                <string>{-38,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{217,234}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{293,232}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{293,232}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,236}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{319,236}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,242},{197,238}}</string>
                <key>offset</key>
                <string>{-53,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{197,238}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{161,236}}</string>
                <key>offset</key>
                <string>{-71,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,31},{161,236}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,242},{197,238}}</string>
                <key>offset</key>
                <string>{-53,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{197,238}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,236}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{319,236}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{293,232}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{293,232}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,482},{217,234}}</string>
                <key>offset</key>
                <string>{-38,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{217,234}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{181,238}}</string>
                <key>offset</key>
                <string>{-53,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{181,238}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_skelet2.png</string>
            <key>size</key>
            <string>{506,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f290ee564a8b1751ab79b9ed8677cda$</string>
            <key>textureFileName</key>
            <string>flare_skelet2.png</string>
        </dict>
    </dict>
</plist>
