<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_antlion_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{229,173}}</string>
                <key>offset</key>
                <string>{-56,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,147},{229,173}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,470},{227,173}}</string>
                <key>offset</key>
                <string>{-57,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,148},{227,173}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,609},{223,171}}</string>
                <key>offset</key>
                <string>{-61,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,149},{223,171}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,645},{211,173}}</string>
                <key>offset</key>
                <string>{-67,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,146},{211,173}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,820},{205,173}}</string>
                <key>offset</key>
                <string>{-72,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,144},{205,173}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,834},{215,169}}</string>
                <key>offset</key>
                <string>{-78,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,145},{215,169}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{229,161}}</string>
                <key>offset</key>
                <string>{-86,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,147},{229,161}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,372},{235,171}}</string>
                <key>offset</key>
                <string>{-90,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,145},{235,171}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{237,173}}</string>
                <key>offset</key>
                <string>{-91,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,147},{237,173}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{243,175}}</string>
                <key>offset</key>
                <string>{-94,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,146},{243,175}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,181}}</string>
                <key>offset</key>
                <string>{-96,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,142},{249,181}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,185},{235,185}}</string>
                <key>offset</key>
                <string>{-88,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,140},{235,185}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,247},{221,187}}</string>
                <key>offset</key>
                <string>{-70,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,139},{221,187}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{235,185}}</string>
                <key>offset</key>
                <string>{-56,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,140},{235,185}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{241,181}}</string>
                <key>offset</key>
                <string>{-51,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,143},{241,181}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_antlion1.png</string>
            <key>size</key>
            <string>{673,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35626ee4da391ba4b7357b30f2c75a16$</string>
            <key>textureFileName</key>
            <string>flare_antlion1.png</string>
        </dict>
    </dict>
</plist>
