<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_antlion_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{259,179}}</string>
                <key>offset</key>
                <string>{-52,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,133},{259,179}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,526},{269,197}}</string>
                <key>offset</key>
                <string>{-56,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,115},{269,197}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,309},{201,281}}</string>
                <key>offset</key>
                <string>{-88,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{201,281}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{189,311}}</string>
                <key>offset</key>
                <string>{-94,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{189,311}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{207,305}}</string>
                <key>offset</key>
                <string>{-80,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{207,305}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{273,241}}</string>
                <key>offset</key>
                <string>{-44,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,65},{273,241}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,359},{353,167}}</string>
                <key>offset</key>
                <string>{7,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,139},{353,167}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{399,135}}</string>
                <key>offset</key>
                <string>{21,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,169},{399,135}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{355,159}}</string>
                <key>offset</key>
                <string>{-23,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,146},{355,159}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,183},{255,181}}</string>
                <key>offset</key>
                <string>{-68,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,130},{255,181}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,277},{247,183}}</string>
                <key>offset</key>
                <string>{-76,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,126},{247,183}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
            <key>flare_antlion_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,366},{239,181}}</string>
                <key>offset</key>
                <string>{-87,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,128},{239,181}}</string>
                <key>sourceSize</key>
                <string>{455,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_antlion2.png</string>
            <key>size</key>
            <string>{1019,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2bda99a8927b28e446d695b26dbab5d$</string>
            <key>textureFileName</key>
            <string>flare_antlion2.png</string>
        </dict>
    </dict>
</plist>
