<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_antlion_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,80},{92,70}}</string>
                <key>offset</key>
                <string>{-22,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,59},{92,70}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,74},{92,70}}</string>
                <key>offset</key>
                <string>{-23,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,59},{92,70}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,152},{90,70}}</string>
                <key>offset</key>
                <string>{-25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,59},{90,70}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,152},{84,70}}</string>
                <key>offset</key>
                <string>{-27,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,58},{84,70}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,80},{82,70}}</string>
                <key>offset</key>
                <string>{-29,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,58},{82,70}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{86,68}}</string>
                <key>offset</key>
                <string>{-31,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,58},{86,68}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,154},{92,66}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,58},{92,66}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{94,68}}</string>
                <key>offset</key>
                <string>{-36,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,59},{94,68}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{96,70}}</string>
                <key>offset</key>
                <string>{-37,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{96,70}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,72}}</string>
                <key>offset</key>
                <string>{-38,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,57},{98,72}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,74}}</string>
                <key>offset</key>
                <string>{-38,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,56},{100,74}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,76},{94,76}}</string>
                <key>offset</key>
                <string>{-35,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,55},{94,76}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,146},{88,76}}</string>
                <key>offset</key>
                <string>{-28,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{88,76}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{94,76}}</string>
                <key>offset</key>
                <string>{-22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,55},{94,76}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{98,74}}</string>
                <key>offset</key>
                <string>{-21,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{98,74}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_antlion1low.png</string>
            <key>size</key>
            <string>{486,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:907bea6f5148654238e09d313d28e55f$</string>
            <key>textureFileName</key>
            <string>flare_antlion1low.png</string>
        </dict>
    </dict>
</plist>
