<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_troll_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{108,76}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{108,76}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,316},{108,78}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{108,78}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{108,80}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{108,80}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{106,82}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{106,82}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,396},{106,82}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{106,82}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,480},{106,80}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,15},{106,80}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{108,78}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{108,78}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,78},{114,74}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{114,74}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,74}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{116,74}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,74}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{116,74}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{114,78}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{114,78}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,480},{106,80}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{106,80}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{106,80}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{106,80}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,154},{108,80}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{108,80}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,236},{108,78}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{108,78}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_troll1low.png</string>
            <key>size</key>
            <string>{250,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ad4dd913543a918d457aaf7f193181$</string>
            <key>textureFileName</key>
            <string>flare_troll1low.png</string>
        </dict>
    </dict>
</plist>
