<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_troll_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{118,70}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{118,70}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,70}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{118,70}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,70}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{118,70}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,74},{114,72}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{114,72}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{110,72}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{110,72}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,148},{102,72}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{102,72}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{92,72}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{92,72}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,462},{80,78}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{80,78}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{68,86}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{68,86}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,318},{60,94}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,222},{60,94}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,290},{62,94}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{62,94}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,222},{66,94}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{74,94}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,354},{82,92}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{82,92}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,438},{88,88}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{92,90}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{92,90}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,438},{88,88}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{88,88}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,354},{82,92}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{82,92}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{74,94}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,222},{66,94}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,222},{60,94}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{68,86}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{68,86}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{92,72}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{92,72}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{110,72}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{110,72}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>flare_troll_attack0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,70}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{118,70}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_troll2low.png</string>
            <key>size</key>
            <string>{256,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d15f4e0ce6d73173d4f250fdd566af88$</string>
            <key>textureFileName</key>
            <string>flare_troll2low.png</string>
        </dict>
    </dict>
</plist>
