<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_skelet_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,184},{66,100}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{66,100}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,102},{66,102}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{66,102}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,170},{78,104}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,104}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,100},{80,104}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,104}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,104},{78,104}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,104}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,84},{74,102}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{74,102}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,182},{66,104}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{66,104}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,170},{70,104}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{70,104}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{80,102}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{104,100}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{104,100}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{116,94}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,94}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,94}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{118,94}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{114,96}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,96}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
            <key>flare_skelet_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{102,98}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{134,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_skelet1low.png</string>
            <key>size</key>
            <string>{552,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2187ddaaeb5e2f573e3a89814d4cea12$</string>
            <key>textureFileName</key>
            <string>flare_skelet1low.png</string>
        </dict>
    </dict>
</plist>
