<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golem_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{44,88}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{44,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,134},{48,86}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{48,86}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,180},{50,86}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{50,86}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{52,84}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,84}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,184},{50,94}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{50,94}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,234},{50,98}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{50,98}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,236},{50,100}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{50,100}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,236},{52,100}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,100}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,286},{54,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{54,96}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,288},{54,90}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{54,90}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,134},{48,92}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{48,92}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,42},{42,92}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{42,92}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{40,92}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{40,92}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,92}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{38,92}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{38,90}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{38,90}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{40,88}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{40,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{40,88}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{40,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{40,86}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{40,86}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,44},{42,88}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{42,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,88},{44,88}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{44,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{50,86}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{50,86}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,290},{54,86}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{54,86}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,290},{54,86}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{54,86}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,236},{52,86}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{52,86}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,182},{50,88}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{50,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,132},{46,88}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{46,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,88},{44,88}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{44,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,44},{42,88}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{42,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,44},{42,88}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{42,88}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,88},{42,86}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{42,86}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,134},{46,84}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{46,84}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,184},{50,84}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{50,84}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{54,82}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{54,82}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{54,82}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{54,82}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,128},{52,82}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{52,82}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,44},{46,82}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{46,82}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,86},{42,84}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{42,84}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>golem_walk0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{42,86}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{42,86}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>golem1low.png</string>
            <key>size</key>
            <string>{504,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b86ad41861b897781d26749396c6a518$</string>
            <key>textureFileName</key>
            <string>golem1low.png</string>
        </dict>
    </dict>
</plist>
