<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basewarFontIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{240,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,57}}</string>
                <key>sourceSize</key>
                <string>{240,57}</string>
            </dict>
            <key>menuBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,167}}</string>
                <key>sourceSize</key>
                <string>{400,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preLoadlow.png</string>
            <key>size</key>
            <string>{404,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8baf685989cc3b3b398d695cc1208038:05c76859e46641d17d06df44e117b92d:21a1e81f83f3f6c7f56a86210c7298d8$</string>
            <key>textureFileName</key>
            <string>preLoadlow.png</string>
        </dict>
    </dict>
</plist>
