<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,158},{211,154}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{211,154}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{211,154}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{211,154}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{213,152}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{213,152}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{215,154}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{215,154}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{217,156}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{217,156}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,158}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{217,158}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{211,158}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{211,158}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,320},{199,158}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{199,158}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,203},{191,156}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{191,156}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,480},{199,154}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{199,154}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,160},{205,152}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{205,152}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,480},{205,150}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{205,150}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{199,148}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,476},{197,154}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{197,154}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,396},{197,158}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{197,158}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,314},{199,160}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{199,160}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,474},{197,160}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{197,160}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,314},{201,158}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{201,158}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{209,156}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{209,156}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
            <key>sheep_walk0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,158},{211,154}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{211,154}}</string>
                <key>sourceSize</key>
                <string>{225,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep.png</string>
            <key>size</key>
            <string>{1012,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac6d763c0e2a93f988a731cf00d1335b$</string>
            <key>textureFileName</key>
            <string>sheep.png</string>
        </dict>
    </dict>
</plist>
