<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slime_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,332},{70,51}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{70,51}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,297},{70,51}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{70,51}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{68,53}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{68,53}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,350},{66,55}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{66,55}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,385},{64,57}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{64,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,444},{62,57}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{62,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{62,59}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{62,59}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,444},{56,61}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,61}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,407},{46,59}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{46,59}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,236},{62,59}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,59}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{78,41}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{78,41}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{80,43}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{80,43}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,177},{80,43}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{80,43}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{80,43}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{80,43}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{80,43}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{80,43}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,128},{80,47}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{80,47}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,82},{76,49}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{76,49}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{74,49}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{74,49}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{72,49}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{72,49}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,332},{70,51}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{70,51}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,279},{72,51}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{72,51}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,160},{74,53}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{74,53}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,222},{78,55}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{78,55}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,67},{84,59}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{84,59}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{88,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,61}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,63}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,63}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,63}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{88,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,61}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,67},{84,59}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{84,59}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,222},{78,55}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{78,55}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,160},{74,53}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{74,53}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>slime_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,279},{72,51}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{72,51}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slime1low.png</string>
            <key>size</key>
            <string>{229,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b311469f73f96715efbae46d5b9152$</string>
            <key>textureFileName</key>
            <string>slime1low.png</string>
        </dict>
    </dict>
</plist>
