<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PKnight_stance0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{259,249}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{259,249}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,536},{261,259}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{261,259}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,263}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{269,263}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{267,263}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{267,263}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,536},{267,257}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{267,257}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,267},{267,255}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{267,255}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,267},{267,259}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{267,259}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{267,263}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{267,263}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,263}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{269,263}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{261,259}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{261,259}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_pinkKnight3.png</string>
            <key>size</key>
            <string>{793,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9255f8ee5842bdbba2bbc68cdd363a0$</string>
            <key>textureFileName</key>
            <string>unit_pinkKnight3.png</string>
        </dict>
    </dict>
</plist>
