<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baron_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,82}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,82}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,82}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,82}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{106,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{106,78}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{108,78}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{108,78}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{106,78}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{106,78}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{104,78}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{104,78}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{100,80}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{100,80}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{100,80}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{100,80}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{104,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{104,76}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{104,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{104,76}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{108,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,76}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{108,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,74}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{108,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{108,74}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{106,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{106,72}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{110,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,76}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>baron_run0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{110,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,76}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_baron2low.png</string>
            <key>size</key>
            <string>{114,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f04d65b2f7ddd9c5ed6268308dde5ff$</string>
            <key>textureFileName</key>
            <string>unit_baron2low.png</string>
        </dict>
    </dict>
</plist>
