<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darksaber_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,45}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{154,45}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,45}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{154,45}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{142,53}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{142,53}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{140,53}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{140,53}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{134,63}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{134,63}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{122,63}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{122,63}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{116,69}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{116,69}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,294},{76,65}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{76,65}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,294},{76,65}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,16},{76,65}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,223},{82,69}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,10},{82,69}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{82,69}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,10},{82,69}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,148},{102,73}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{102,73}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
            <key>darksaber_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,73},{102,73}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{102,73}}</string>
                <key>sourceSize</key>
                <string>{154,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_darkSaber2low.png</string>
            <key>size</key>
            <string>{254,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f515aee11f5dedded3825913d62112f6$</string>
            <key>textureFileName</key>
            <string>unit_darkSaber2low.png</string>
        </dict>
    </dict>
</plist>
