<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ck_punch0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{408,308}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{408,308}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{408,308}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{408,308}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{408,308}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{408,308}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{408,308}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{408,308}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{404,314}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,314}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{404,314}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,314}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{404,314}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,314}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,294}}</string>
                <key>offset</key>
                <string>{34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,20},{432,294}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,614},{360,286}}</string>
                <key>offset</key>
                <string>{23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,28},{360,286}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{360,286}}</string>
                <key>offset</key>
                <string>{23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,28},{360,286}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,598},{360,280}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,34},{360,280}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,598},{360,280}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,34},{360,280}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,598},{360,280}}</string>
                <key>offset</key>
                <string>{23,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,34},{360,280}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,312},{360,284}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,30},{360,284}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,312},{360,284}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,30},{360,284}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,312},{360,284}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,30},{360,284}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
            <key>ck_punch0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,312},{360,284}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,30},{360,284}}</string>
                <key>sourceSize</key>
                <string>{500,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_robot2.png</string>
            <key>size</key>
            <string>{880,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96057e48ca102742b738e19d1da735d9$</string>
            <key>textureFileName</key>
            <string>unit_robot2.png</string>
        </dict>
    </dict>
</plist>
