<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>archer_attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{48,120}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{48,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{46,120}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{46,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{46,120}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{46,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,50},{48,120}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{48,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{54,120}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{54,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{46,126}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{46,126}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,120}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{86,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{80,120}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{80,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{76,120}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{76,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{74,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{74,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{72,120}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{72,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{84,120}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{84,120}}</string>
                <key>sourceSize</key>
                <string>{116,130}</string>
            </dict>
            <key>archer_move01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,50},{74,91}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move02.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,50},{74,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move03.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,50},{74,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_archer1low.png</string>
            <key>size</key>
            <string>{1001,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f9c929bb2dd9ad2ffffa437a9ac28c6$</string>
            <key>textureFileName</key>
            <string>unit_archer1low.png</string>
        </dict>
    </dict>
</plist>
