<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PKnight_stance0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{105,101}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,101}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{105,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{107,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{107,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{107,105}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{107,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{107,103}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{107,103}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{107,103}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{107,103}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{107,103}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{107,103}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,105}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{107,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{107,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{107,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{105,105}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_pinkKnight3low.png</string>
            <key>size</key>
            <string>{111,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8cef3fe1c5308a00e100e4e7e4d59fa$</string>
            <key>textureFileName</key>
            <string>unit_pinkKnight3low.png</string>
        </dict>
    </dict>
</plist>
