<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vikingswingB0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{232,198}}</string>
                <key>offset</key>
                <string>{-36,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{232,198}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{234,198}}</string>
                <key>offset</key>
                <string>{-40,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{234,198}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{230,198}}</string>
                <key>offset</key>
                <string>{-48,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{230,198}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{230,194}}</string>
                <key>offset</key>
                <string>{-49,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{230,194}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,194}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{306,194}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,202},{188,194}}</string>
                <key>offset</key>
                <string>{32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,7},{188,194}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{222,192}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,9},{222,192}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{222,192}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,9},{222,192}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,202},{178,190}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,8},{178,190}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,202},{178,190}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,8},{178,190}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,798},{174,188}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{174,188}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,798},{174,188}}</string>
                <key>offset</key>
                <string>{-30,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,10},{174,188}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,592},{174,186}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,12},{174,186}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,574},{174,182}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,16},{174,182}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,574},{174,182}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,16},{174,182}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,394},{176,178}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,20},{176,178}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,394},{176,178}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,20},{176,178}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingswingB0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,394},{176,178}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,20},{176,178}}</string>
                <key>sourceSize</key>
                <string>{334,210}</string>
            </dict>
            <key>vikingwalk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{154,206}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,3},{154,206}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{154,206}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,3},{154,206}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,398},{158,200}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{158,200}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,398},{158,200}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{158,200}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,398},{158,200}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{158,200}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,836},{166,202}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{166,202}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,836},{166,202}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{166,202}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,398},{174,192}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{174,192}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,398},{174,192}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{174,192}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,202},{194,186}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{194,186}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,202},{194,186}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{194,186}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,202},{194,186}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{194,186}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,600},{196,182}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{196,182}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,600},{196,182}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{196,182}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,780},{178,184}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{178,184}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,780},{178,184}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{178,184}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,398},{132,204}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,6},{132,204}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,398},{132,204}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,6},{132,204}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>vikingwalk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,630},{148,204}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{148,204}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_viking1.png</string>
            <key>size</key>
            <string>{884,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3dbc4513bac2d9f01665b5b01c069ba$</string>
            <key>textureFileName</key>
            <string>unit_viking1.png</string>
        </dict>
    </dict>
</plist>
