<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baseUnit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,400}}</string>
                <key>sourceSize</key>
                <string>{327,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_baselow.png</string>
            <key>size</key>
            <string>{331,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d066b87c4f25858079ae320721f459a:c578b15809eda889c8276fb965555e2e:48a9335798843ce544b58124cd5b0610$</string>
            <key>textureFileName</key>
            <string>unit_baselow.png</string>
        </dict>
    </dict>
</plist>
