<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_shootA0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{194,125}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{194,125}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{192,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{192,127}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{192,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{192,127}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,129},{188,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,123}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,129},{188,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{188,123}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_soldier3low.png</string>
            <key>size</key>
            <string>{256,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89d7a110c7b5e11bc5ed047c559ecdf2$</string>
            <key>textureFileName</key>
            <string>unit_soldier3low.png</string>
        </dict>
    </dict>
</plist>
