<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baron_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,203}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,203}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,203}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,203}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,269},{261,193}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{261,193}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{265,193}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{265,193}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{263,191}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{263,191}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,472},{259,193}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{259,193}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{247,197}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{247,197}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{247,197}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{247,197}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{257,185}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{257,185}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{257,185}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{257,185}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{265,189}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{265,189}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,801},{265,179}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{265,179}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,532},{267,181}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{267,181}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{265,177}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{265,177}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,197},{273,187}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{273,187}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
            <key>baron_run0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,197},{273,187}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{273,187}}</string>
                <key>sourceSize</key>
                <string>{279,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_baron2.png</string>
            <key>size</key>
            <string>{723,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:540563bbc13a4d0a77b8707b407563f3$</string>
            <key>textureFileName</key>
            <string>unit_baron2.png</string>
        </dict>
    </dict>
</plist>
