<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_shootA0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{486,311}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{486,311}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{482,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{482,317}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{482,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{482,317}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{468,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{468,305}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{468,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{468,305}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_soldier3.png</string>
            <key>size</key>
            <string>{490,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e16152de335fe1828ab6ca712088d21$</string>
            <key>textureFileName</key>
            <string>unit_soldier3.png</string>
        </dict>
    </dict>
</plist>
