<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minion_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{68,70}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{68,70}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{100,70}}</string>
                <key>offset</key>
                <string>{-31,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,70}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{100,70}}</string>
                <key>offset</key>
                <string>{-31,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,70}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{100,70}}</string>
                <key>offset</key>
                <string>{-31,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,70}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{100,70}}</string>
                <key>offset</key>
                <string>{-31,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,70}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{100,70}}</string>
                <key>offset</key>
                <string>{-31,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{100,70}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,82}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{124,82}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{122,82}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{122,82}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{122,82}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{122,82}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{122,82}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{120,82}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{120,82}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{120,82}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{72,70}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{72,70}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{72,70}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{72,70}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{66,78}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{66,78}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{66,78}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{66,78}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{70,78}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{70,78}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{66,74}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{66,74}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
            <key>minion_attack0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{66,74}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{66,74}}</string>
                <key>sourceSize</key>
                <string>{162,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_minion1low.png</string>
            <key>size</key>
            <string>{128,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d8ac42cad4e965ded280e62765fb747$</string>
            <key>textureFileName</key>
            <string>unit_minion1low.png</string>
        </dict>
    </dict>
</plist>
