<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>troll_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,322},{164,174}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,26},{164,174}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,322},{164,174}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,26},{164,174}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,322},{164,174}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,26},{164,174}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{304,192}}</string>
                <key>offset</key>
                <string>{-84,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{304,192}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{304,192}}</string>
                <key>offset</key>
                <string>{-84,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{304,192}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{304,192}}</string>
                <key>offset</key>
                <string>{-84,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{304,192}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{314,194}}</string>
                <key>offset</key>
                <string>{-93,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{314,194}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{314,194}}</string>
                <key>offset</key>
                <string>{-93,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{314,194}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{314,194}}</string>
                <key>offset</key>
                <string>{-93,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{314,194}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{258,174}}</string>
                <key>offset</key>
                <string>{-34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,23},{258,174}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{258,174}}</string>
                <key>offset</key>
                <string>{-34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,23},{258,174}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{358,176}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,22},{358,176}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,176}}</string>
                <key>offset</key>
                <string>{57,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,22},{370,176}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,330},{252,162}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,36},{252,162}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,330},{252,162}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,36},{252,162}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,178},{256,150}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,48},{256,150}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,178},{256,150}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,48},{256,150}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,178},{256,150}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,48},{256,150}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,176},{260,144}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,53},{260,144}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,176},{260,144}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,53},{260,144}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,176},{260,144}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,53},{260,144}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_attack0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,176},{260,144}}</string>
                <key>offset</key>
                <string>{-25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,53},{260,144}}</string>
                <key>sourceSize</key>
                <string>{502,216}</string>
            </dict>
            <key>troll_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,494},{244,178}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{244,178}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,494},{244,178}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{244,178}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{260,172}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{260,172}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{260,172}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{260,172}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,674},{214,170}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{214,170}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,494},{180,180}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{180,180}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,494},{180,180}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{180,180}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,494},{180,180}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{180,180}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,330},{162,180}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,9},{162,180}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,330},{162,180}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,9},{162,180}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,680},{166,168}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{166,168}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,680},{166,168}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{166,168}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,680},{166,168}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{166,168}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,680},{154,190}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,2},{154,190}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,680},{154,190}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,2},{154,190}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,498},{198,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{198,180}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>troll_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,498},{198,180}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{198,180}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_troll1.png</string>
            <key>size</key>
            <string>{964,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f23d8f52f7e11fc274ed0501623af3e3$</string>
            <key>textureFileName</key>
            <string>unit_troll1.png</string>
        </dict>
    </dict>
</plist>
