<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_daemon_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,357},{59,86}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,56},{59,86}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,445},{57,86}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,53},{57,86}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,357},{71,86}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,49},{71,86}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,456},{99,84}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,45},{99,84}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{121,100}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,23},{121,100}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{137,116}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{137,116}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,112}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{145,112}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{141,114}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{141,114}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,239},{105,116}}</string>
                <key>offset</key>
                <string>{28,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{105,116}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,125},{101,112}}</string>
                <key>offset</key>
                <string>{34,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,5},{101,112}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{105,104}}</string>
                <key>offset</key>
                <string>{38,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,14},{105,104}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
            <key>botanic_daemon_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{111,92}}</string>
                <key>offset</key>
                <string>{40,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,28},{111,92}}</string>
                <key>sourceSize</key>
                <string>{203,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_daemon2low.png</string>
            <key>size</key>
            <string>{251,573}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd04d73d4e5013dc27374ba23346fdf2$</string>
            <key>textureFileName</key>
            <string>botanic_daemon2low.png</string>
        </dict>
    </dict>
</plist>
