<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_daemon_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,860},{145,211}}</string>
                <key>offset</key>
                <string>{22,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,154},{145,211}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,870},{147,211}}</string>
                <key>offset</key>
                <string>{19,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,154},{147,211}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{153,215}}</string>
                <key>offset</key>
                <string>{10,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,150},{153,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,858},{155,215}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,147},{155,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,219},{283,203}}</string>
                <key>offset</key>
                <string>{67,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,130},{283,203}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{267,207}}</string>
                <key>offset</key>
                <string>{61,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,135},{267,207}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,211},{247,215}}</string>
                <key>offset</key>
                <string>{59,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,141},{247,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,651},{217,217}}</string>
                <key>offset</key>
                <string>{55,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,146},{217,217}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,428},{155,215}}</string>
                <key>offset</key>
                <string>{31,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,150},{155,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_attack0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,860},{145,211}}</string>
                <key>offset</key>
                <string>{22,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,154},{145,211}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,645},{221,213}}</string>
                <key>offset</key>
                <string>{-3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,135},{221,213}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,643},{231,213}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,134},{231,213}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,424},{257,213}}</string>
                <key>offset</key>
                <string>{4,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,130},{257,213}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{289,215}}</string>
                <key>offset</key>
                <string>{12,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,124},{289,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{319,215}}</string>
                <key>offset</key>
                <string>{17,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,119},{319,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,215}}</string>
                <key>offset</key>
                <string>{17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,120},{319,215}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{289,213}}</string>
                <key>offset</key>
                <string>{12,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,126},{289,213}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{257,213}}</string>
                <key>offset</key>
                <string>{4,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,130},{257,213}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
            <key>botanic_daemon_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,428},{231,213}}</string>
                <key>offset</key>
                <string>{-2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,134},{231,213}}</string>
                <key>sourceSize</key>
                <string>{507,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_daemon1.png</string>
            <key>size</key>
            <string>{973,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15ab2aeed112061409f990d13e1a03dd$</string>
            <key>textureFileName</key>
            <string>botanic_daemon1.png</string>
        </dict>
    </dict>
</plist>
