<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_archer_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{54,112}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{54,112}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{54,114}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{54,114}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{54,118}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{54,118}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{54,124}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{54,124}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{56,132}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{56,132}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,138}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{58,138}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,118},{66,82}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,54},{66,82}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,238},{68,84}}</string>
                <key>offset</key>
                <string>{-8,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,53},{68,84}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,236},{70,88}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,49},{70,88}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,122},{72,90}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,47},{72,90}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{72,90}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{72,90}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{74,90}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,47},{74,90}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,242},{72,86}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,52},{72,86}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,90},{74,84}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,54},{74,84}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{74,86}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,54},{74,86}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,186},{72,88}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,52},{72,88}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,164},{70,90}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,50},{70,90}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,94},{68,94}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,46},{68,94}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,142},{66,94}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{66,94}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,214},{64,90}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,49},{64,90}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>botanic_archer_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,176},{64,88}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,51},{64,88}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_archer1low.png</string>
            <key>size</key>
            <string>{512,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38a8ae11deee0274eae93b6bc96bd4a8$</string>
            <key>textureFileName</key>
            <string>botanic_archer1low.png</string>
        </dict>
    </dict>
</plist>
