<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_dog_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,654},{124,76}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{124,76}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{126,60}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{126,60}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{130,60}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{130,60}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{132,66}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{132,66}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,136},{132,70}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{132,70}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{134,68}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{134,68}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{132,70}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{132,70}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{132,68}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{132,68}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,70}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{134,70}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{134,64}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{134,64}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{132,66}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{132,66}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{130,66}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{130,66}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{128,66}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{128,66}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,396},{126,68}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,11},{126,68}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,270},{124,70}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{124,70}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{124,66}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{124,66}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,524},{128,66}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{128,66}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{130,64}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{130,64}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{132,66}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{132,66}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_dog2low.png</string>
            <key>size</key>
            <string>{210,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fa56bf87eb29274f9bcdda1482d001c$</string>
            <key>textureFileName</key>
            <string>botanic_dog2low.png</string>
        </dict>
    </dict>
</plist>
