<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_femmage_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,128},{120,219}}</string>
                <key>offset</key>
                <string>{36,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,148},{120,219}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,496},{126,217}}</string>
                <key>offset</key>
                <string>{38,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,148},{126,217}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,122},{118,233}}</string>
                <key>offset</key>
                <string>{26,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,132},{118,233}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{104,245}}</string>
                <key>offset</key>
                <string>{11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,122},{104,245}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{118,233}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,134},{118,233}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{122,269}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,98},{122,269}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{116,295}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{116,295}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{124,219}}</string>
                <key>offset</key>
                <string>{16,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,148},{124,219}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,360},{118,231}}</string>
                <key>offset</key>
                <string>{5,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,136},{118,231}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{122,241}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,126},{122,241}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,496},{114,219}}</string>
                <key>offset</key>
                <string>{16,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,148},{114,219}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,281},{122,265}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,102},{122,265}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,299},{118,291}}</string>
                <key>offset</key>
                <string>{5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,76},{118,291}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,250},{118,219}}</string>
                <key>offset</key>
                <string>{19,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,148},{118,219}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,242},{116,233}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,134},{116,233}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,554},{126,241}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,126},{126,241}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,370},{124,221}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,148},{124,221}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,480},{118,227}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,143},{118,227}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,480},{114,231}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,139},{114,231}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,249},{88,243}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,127},{88,243}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,281},{74,271}}</string>
                <key>offset</key>
                <string>{18,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,87},{74,271}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,313}}</string>
                <key>offset</key>
                <string>{25,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,5},{90,313}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{102,299}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,12},{102,299}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
            <key>botanic_femmage_attack0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{120,277}}</string>
                <key>offset</key>
                <string>{29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,47},{120,277}}</string>
                <key>sourceSize</key>
                <string>{210,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_femmage1.png</string>
            <key>size</key>
            <string>{1020,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ab38a31b6be979835b509333899ecf$</string>
            <key>textureFileName</key>
            <string>botanic_femmage1.png</string>
        </dict>
    </dict>
</plist>
