<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_dog_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,184}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{318,184}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{314,184}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,14},{314,184}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{308,184}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{308,184}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{306,184}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{306,184}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,188},{306,182}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{306,182}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{306,180}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{306,180}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{306,174}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{306,174}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,382},{310,168}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{310,168}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,704},{318,158}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,41},{318,158}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,694},{316,156}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,43},{316,156}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,372},{316,156}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,43},{316,156}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,374},{328,154}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,45},{328,154}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,690},{318,150}}</string>
                <key>offset</key>
                <string>{-29,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,49},{318,150}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,694},{314,144}}</string>
                <key>offset</key>
                <string>{-29,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,54},{314,144}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,382},{310,138}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,61},{310,138}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{286,184}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{286,184}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,188},{278,192}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,9},{278,192}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_dog1.png</string>
            <key>size</key>
            <string>{934,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef49fb6efba224671c4b94f2662dbdb$</string>
            <key>textureFileName</key>
            <string>botanic_dog1.png</string>
        </dict>
    </dict>
</plist>
