<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_dog_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{310,186}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,15},{310,186}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,870},{312,146}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{312,146}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,688},{324,148}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,53},{324,148}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{326,166}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{326,166}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{326,172}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,32},{326,172}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,176},{328,168}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{328,168}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{328,172}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{328,172}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{326,168}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{326,168}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,172}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{330,172}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{334,158}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{334,158}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,688},{328,162}}</string>
                <key>offset</key>
                <string>{27,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,38},{328,162}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,508},{320,164}}</string>
                <key>offset</key>
                <string>{30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{320,164}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,674},{316,166}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,32},{316,166}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,364},{314,170}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,28},{314,170}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,190},{306,172}}</string>
                <key>offset</key>
                <string>{29,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,26},{306,172}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,702},{306,166}}</string>
                <key>offset</key>
                <string>{25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{306,166}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,536},{316,164}}</string>
                <key>offset</key>
                <string>{20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,39},{316,164}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,346},{324,160}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,38},{324,160}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>botanic_dog_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{326,166}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{326,166}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_dog2.png</string>
            <key>size</key>
            <string>{974,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9532e917d5d3d6212932366cb126adb2$</string>
            <key>textureFileName</key>
            <string>botanic_dog2.png</string>
        </dict>
    </dict>
</plist>
