<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_femmage_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,156},{50,88}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,59},{50,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{50,88}}</string>
                <key>offset</key>
                <string>{15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,58},{50,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,192},{48,94}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{48,94}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,56},{42,98}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{42,98}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,162},{48,94}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,53},{48,94}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,46},{50,108}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{50,108}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,40},{48,118}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{48,118}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{50,88}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{50,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,156},{48,94}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,53},{48,94}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,56},{50,98}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{50,98}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{46,88}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,59},{46,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{50,106}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,41},{50,106}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{48,118}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{48,118}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,206},{48,88}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,59},{48,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,92},{48,94}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,53},{48,94}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{52,98}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,49},{52,98}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,110},{50,88}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,60},{50,88}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,160},{48,92}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,56},{48,92}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{46,94}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,54},{46,94}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,92},{36,98}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{36,98}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,46},{30,108}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{30,108}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,126}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,2},{36,126}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{42,122}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{42,122}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
            <key>botanic_femmage_attack0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,46},{50,112}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{50,112}}</string>
                <key>sourceSize</key>
                <string>{84,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_femmage1low.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f7b2f53f223493d87a775afdcbb2e6$</string>
            <key>textureFileName</key>
            <string>botanic_femmage1low.png</string>
        </dict>
    </dict>
</plist>
