<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_priest_idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{122,241}}</string>
                <key>offset</key>
                <string>{48,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,96},{122,241}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{124,241}}</string>
                <key>offset</key>
                <string>{47,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,96},{124,241}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{134,237}}</string>
                <key>offset</key>
                <string>{42,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,97},{134,237}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{150,233}}</string>
                <key>offset</key>
                <string>{34,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,97},{150,233}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,231},{162,227}}</string>
                <key>offset</key>
                <string>{28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,99},{162,227}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,460},{166,227}}</string>
                <key>offset</key>
                <string>{26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,99},{166,227}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{162,227}}</string>
                <key>offset</key>
                <string>{28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,99},{162,227}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,241},{150,233}}</string>
                <key>offset</key>
                <string>{34,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,97},{150,233}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,488},{134,237}}</string>
                <key>offset</key>
                <string>{42,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,97},{134,237}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,241}}</string>
                <key>offset</key>
                <string>{47,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,96},{124,241}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{122,241}}</string>
                <key>offset</key>
                <string>{48,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,96},{122,241}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,237},{130,231}}</string>
                <key>offset</key>
                <string>{37,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,97},{130,231}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{140,229}}</string>
                <key>offset</key>
                <string>{35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,98},{140,229}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,235},{152,229}}</string>
                <key>offset</key>
                <string>{34,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,96},{152,229}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,231},{166,227}}</string>
                <key>offset</key>
                <string>{32,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,94},{166,227}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{170,227}}</string>
                <key>offset</key>
                <string>{32,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,91},{170,227}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,466},{166,227}}</string>
                <key>offset</key>
                <string>{33,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,92},{166,227}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,470},{154,229}}</string>
                <key>offset</key>
                <string>{35,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,92},{154,229}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,472},{132,231}}</string>
                <key>offset</key>
                <string>{39,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,91},{132,231}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{106,231}}</string>
                <key>offset</key>
                <string>{44,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,93},{106,231}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,476},{104,233}}</string>
                <key>offset</key>
                <string>{43,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,94},{104,233}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
            <key>botanic_priest_walk0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,237},{102,233}}</string>
                <key>offset</key>
                <string>{42,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,95},{102,233}}</string>
                <key>sourceSize</key>
                <string>{300,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_priest3.png</string>
            <key>size</key>
            <string>{1002,731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b17fc1a78e3466432845f9c98d585a23$</string>
            <key>textureFileName</key>
            <string>botanic_priest3.png</string>
        </dict>
    </dict>
</plist>
