<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_dog_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,74}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{130,74}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{128,74}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{128,74}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{124,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{124,74}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{124,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{124,74}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{124,74}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{124,74}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,148},{124,72}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{124,72}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{124,72}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{124,72}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,78},{126,68}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{126,68}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,364},{128,64}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{128,64}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,298},{128,64}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{128,64}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,380},{128,64}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{128,64}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,154},{132,62}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{132,62}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{130,60}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{130,60}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,298},{128,58}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{128,58}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{126,56}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{126,56}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,222},{116,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{116,74}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
            <key>botanic_dog_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,428},{112,78}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{112,78}}</string>
                <key>sourceSize</key>
                <string>{154,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_dog1low.png</string>
            <key>size</key>
            <string>{318,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:528750426d15b8160e224a200e588b65$</string>
            <key>textureFileName</key>
            <string>botanic_dog1low.png</string>
        </dict>
    </dict>
</plist>
