<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_priest_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{90,108}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{70,94}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,33},{70,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{58,92}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{58,92}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_attack0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{54,92}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{54,92}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,50},{42,94}}</string>
                <key>offset</key>
                <string>{17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,38},{42,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,44},{40,94}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,38},{40,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{40,94}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,38},{40,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,50},{40,94}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,39},{40,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,50},{40,94}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,38},{40,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,54},{40,94}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,37},{40,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,50},{42,96}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,35},{42,96}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,50},{44,96}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{44,96}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{46,94}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,36},{46,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{46,94}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,36},{46,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{46,94}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,36},{46,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{46,94}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,36},{46,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{46,94}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,37},{46,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>botanic_priest_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{50,94}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,37},{50,94}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_priest2low.png</string>
            <key>size</key>
            <string>{1000,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaf588f419b2e53c7496664165962cb6$</string>
            <key>textureFileName</key>
            <string>botanic_priest2low.png</string>
        </dict>
    </dict>
</plist>
