<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botanic_mage_attack00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,740},{128,204}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{128,204}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,740},{128,204}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{128,204}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{128,202}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{128,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,480},{128,198}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{128,198}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,610},{128,194}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{128,194}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,608},{128,192}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{128,192}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,602},{128,192}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{128,192}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,608},{128,192}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{128,192}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,610},{128,194}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{128,194}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,480},{128,198}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{128,198}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{128,202}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{128,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,740},{128,204}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{128,204}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,740},{128,204}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{128,204}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,738},{128,200}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{128,200}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{128,194}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{128,194}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,472},{128,190}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,23},{128,190}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{128,194}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{128,194}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_attack00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,738},{128,200}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{128,200}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,480},{128,202}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{128,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,610},{128,200}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{128,200}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,352},{126,194}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{126,194}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{122,190}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{122,190}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,114},{116,192}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{116,192}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,192}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{110,192}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{110,194}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{110,194}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{110,194}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{110,194}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,114},{114,196}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{114,196}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,114},{116,196}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{116,196}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{118,198}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{118,198}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,232},{118,202}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{118,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,232},{118,202}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{118,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,232},{118,202}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{118,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,114},{116,202}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{116,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{112,202}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{112,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{110,202}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{110,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{110,202}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{110,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,232},{116,204}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{116,204}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,350},{120,204}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{120,204}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,352},{124,204}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{124,204}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,352},{126,206}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{126,206}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,478},{128,204}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{128,204}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{128,204}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{128,204}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>botanic_mage_walk0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,480},{128,202}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{128,202}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>botanic_mage1.png</string>
            <key>size</key>
            <string>{1020,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4839474c4b37a43b82e19c1986aa40c4$</string>
            <key>textureFileName</key>
            <string>botanic_mage1.png</string>
        </dict>
    </dict>
</plist>
