<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArmourUpgrade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>ArmourUpgrade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>ArmourUpgrade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>AttackUpgrade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>AttackUpgrade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>AttackUpgrade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>Buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>Buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>Buy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>HealUpgrade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>HealUpgrade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>HealUpgrade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>Help1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>Help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>HitpointsUpgrade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>HitpointsUpgrade2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>HitpointsUpgrade3.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>IncomeUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>IncomeUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>IncomeUp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>Info1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>Info2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>autoCam0.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>autoCam1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>autoCamSwitch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>autoCamSwitch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>menu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,755},{165,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,83}}</string>
                <key>sourceSize</key>
                <string>{165,83}</string>
            </dict>
            <key>menu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,670},{165,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,83}}</string>
                <key>sourceSize</key>
                <string>{165,83}</string>
            </dict>
            <key>pArcher0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pArcher1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pArcher2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pBaron0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pBaron1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pBaron2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pause1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>pause2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons1.png</string>
            <key>size</key>
            <string>{1004,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c17385eac57aa13edcdb8058bc26e4fd:d48d19739fe1c1541b25e9e325befcda:05b9a39fae65002c1c75e21fd274512f$</string>
            <key>textureFileName</key>
            <string>buttons1.png</string>
        </dict>
    </dict>
</plist>
