<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>defect_throw0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,295}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{257,295}}</string>
                <key>sourceSize</key>
                <string>{371,295}</string>
            </dict>
            <key>defect_throw0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{255,285}}</string>
                <key>offset</key>
                <string>{32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,9},{255,285}}</string>
                <key>sourceSize</key>
                <string>{371,295}</string>
            </dict>
            <key>defect_throw0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{285,245}}</string>
                <key>offset</key>
                <string>{32,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{285,245}}</string>
                <key>sourceSize</key>
                <string>{371,295}</string>
            </dict>
            <key>defect_throw0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{277,253}}</string>
                <key>offset</key>
                <string>{32,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,42},{277,253}}</string>
                <key>sourceSize</key>
                <string>{371,295}</string>
            </dict>
            <key>defect_throw0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{289,259}}</string>
                <key>offset</key>
                <string>{41,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,35},{289,259}}</string>
                <key>sourceSize</key>
                <string>{371,295}</string>
            </dict>
            <key>defect_throw0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,415},{221,263}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,31},{221,263}}</string>
                <key>sourceSize</key>
                <string>{371,295}</string>
            </dict>
            <key>defect_throw0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,603},{265,261}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{265,261}}</string>
                <key>sourceSize</key>
                <string>{371,295}</string>
            </dict>
            <key>defect_throw0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,638},{251,247}}</string>
                <key>offset</key>
                <string>{-60,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{251,247}}</string>
                <key>sourceSize</key>
                <string>{371,295}</string>
            </dict>
            <key>defect_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,263},{178,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,263},{178,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,263},{178,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,263},{178,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,265},{172,265}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{172,265}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,265},{172,265}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{172,265}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,265},{172,265}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{172,265}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,265},{172,265}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{172,265}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,443},{158,267}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{158,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,443},{158,267}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{158,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,443},{158,267}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{158,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,443},{158,267}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{158,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,249},{164,267}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{164,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,249},{164,267}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{164,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,249},{164,267}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{164,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,249},{164,267}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{164,267}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,532},{148,261}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{148,261}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,532},{148,261}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{148,261}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,532},{148,261}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{148,261}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,532},{148,261}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{148,261}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{148,261}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{148,261}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{148,261}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{148,261}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{148,261}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{148,261}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
            <key>defect_walk0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{148,261}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{148,261}}</string>
                <key>sourceSize</key>
                <string>{178,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>defector1.png</string>
            <key>size</key>
            <string>{995,895}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1b61a175eb42f5ffb924dadc52c0e5e$</string>
            <key>textureFileName</key>
            <string>defector1.png</string>
        </dict>
    </dict>
</plist>
