<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_troll_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,188},{267,186}}</string>
                <key>offset</key>
                <string>{31,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,48},{267,186}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{267,190}}</string>
                <key>offset</key>
                <string>{30,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,46},{267,190}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,570},{267,196}}</string>
                <key>offset</key>
                <string>{28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,42},{267,196}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,768},{265,200}}</string>
                <key>offset</key>
                <string>{26,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,38},{265,200}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,788},{265,202}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,35},{265,202}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{265,198}}</string>
                <key>offset</key>
                <string>{26,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,38},{265,198}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,376},{269,192}}</string>
                <key>offset</key>
                <string>{27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,42},{269,192}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{283,184}}</string>
                <key>offset</key>
                <string>{22,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{283,184}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{287,182}}</string>
                <key>offset</key>
                <string>{21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,47},{287,182}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{287,184}}</string>
                <key>offset</key>
                <string>{21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,46},{287,184}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,394},{281,192}}</string>
                <key>offset</key>
                <string>{21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,42},{281,192}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,588},{267,198}}</string>
                <key>offset</key>
                <string>{25,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,37},{267,198}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{265,198}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{265,198}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{267,194}}</string>
                <key>offset</key>
                <string>{26,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,39},{267,194}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,202},{267,190}}</string>
                <key>offset</key>
                <string>{28,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,42},{267,190}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_troll1.png</string>
            <key>size</key>
            <string>{843,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2343c1ba3c4ee07c6c53e5af7ef943e$</string>
            <key>textureFileName</key>
            <string>flare_troll1.png</string>
        </dict>
    </dict>
</plist>
