<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_skelet_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,545},{163,244}}</string>
                <key>offset</key>
                <string>{-60,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{163,244}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{163,252}}</string>
                <key>offset</key>
                <string>{-60,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{163,252}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,287},{191,256}}</string>
                <key>offset</key>
                <string>{-64,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{191,256}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{199,256}}</string>
                <key>offset</key>
                <string>{-65,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{199,256}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,287},{195,256}}</string>
                <key>offset</key>
                <string>{-65,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{195,256}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{181,256}}</string>
                <key>offset</key>
                <string>{-65,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{181,256}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{163,256}}</string>
                <key>offset</key>
                <string>{-64,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{163,256}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,260},{175,256}}</string>
                <key>offset</key>
                <string>{-52,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{175,256}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,260},{197,254}}</string>
                <key>offset</key>
                <string>{-29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{197,254}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,518},{255,248}}</string>
                <key>offset</key>
                <string>{-22,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{255,248}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{287,234}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{287,234}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,232}}</string>
                <key>offset</key>
                <string>{-21,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{293,232}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{283,236}}</string>
                <key>offset</key>
                <string>{-26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{283,236}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
            <key>flare_skelet_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,545},{253,240}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{253,240}}</string>
                <key>sourceSize</key>
                <string>{335,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_skelet1.png</string>
            <key>size</key>
            <string>{1004,791}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d02393661c5973dfcc377d106c50df$</string>
            <key>textureFileName</key>
            <string>flare_skelet1.png</string>
        </dict>
    </dict>
</plist>
