<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_antlion_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,400},{104,72}}</string>
                <key>offset</key>
                <string>{-21,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,53},{104,72}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{108,80}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,45},{108,80}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{80,114}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{80,114}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{76,126}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{76,126}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{84,122}}</string>
                <key>offset</key>
                <string>{-32,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{84,122}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,300},{110,98}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{110,98}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{142,68}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,55},{142,68}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,54}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,68},{162,54}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{144,64}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,58},{144,64}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,224},{104,74}}</string>
                <key>offset</key>
                <string>{-28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,51},{104,74}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,148},{100,74}}</string>
                <key>offset</key>
                <string>{-31,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,50},{100,74}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
            <key>flare_antlion_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,400},{96,74}}</string>
                <key>offset</key>
                <string>{-35,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,50},{96,74}}</string>
                <key>sourceSize</key>
                <string>{182,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_antlion2low.png</string>
            <key>size</key>
            <string>{234,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5e1d35d9a44bf4f9a28dd4c88e577fc$</string>
            <key>textureFileName</key>
            <string>flare_antlion2low.png</string>
        </dict>
    </dict>
</plist>
