<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_troll_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{295,174}}</string>
                <key>offset</key>
                <string>{35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,63},{295,174}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,174}}</string>
                <key>offset</key>
                <string>{35,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,63},{295,174}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{291,174}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,63},{291,174}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,295},{285,176}}</string>
                <key>offset</key>
                <string>{29,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,61},{285,176}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{271,176}}</string>
                <key>offset</key>
                <string>{23,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,61},{271,176}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{253,178}}</string>
                <key>offset</key>
                <string>{14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{253,178}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,331},{229,180}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{229,180}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,515},{201,194}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,41},{201,194}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,275},{171,216}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,19},{171,216}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,157},{149,234}}</string>
                <key>offset</key>
                <string>{-36,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{149,234}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,182},{147,234}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{147,234}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{153,234}}</string>
                <key>offset</key>
                <string>{-42,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{153,234}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,582},{165,234}}</string>
                <key>offset</key>
                <string>{-50,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{165,234}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{185,234}}</string>
                <key>offset</key>
                <string>{-59,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{185,234}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,308},{205,230}}</string>
                <key>offset</key>
                <string>{-64,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{205,230}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,515},{219,222}}</string>
                <key>offset</key>
                <string>{-68,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{219,222}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,515},{227,220}}</string>
                <key>offset</key>
                <string>{-69,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{227,220}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,515},{219,222}}</string>
                <key>offset</key>
                <string>{-68,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{219,222}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,308},{205,230}}</string>
                <key>offset</key>
                <string>{-64,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{205,230}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{185,234}}</string>
                <key>offset</key>
                <string>{-59,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{185,234}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,582},{165,234}}</string>
                <key>offset</key>
                <string>{-50,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{165,234}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,182},{147,234}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{147,234}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,275},{171,216}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,19},{171,216}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,331},{229,180}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{229,180}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{271,176}}</string>
                <key>offset</key>
                <string>{23,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,61},{271,176}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
            <key>flare_troll_attack0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{291,174}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,63},{291,174}}</string>
                <key>sourceSize</key>
                <string>{371,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flare_troll2.png</string>
            <key>size</key>
            <string>{1023,832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:015696e8305ec98d00a5cd3dccd4dd0e$</string>
            <key>textureFileName</key>
            <string>flare_troll2.png</string>
        </dict>
    </dict>
</plist>
