<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golem_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{106,216}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,41},{106,216}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,258},{116,214}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,43},{116,214}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,436},{124,212}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,45},{124,212}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,584},{128,208}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,49},{128,208}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,252},{122,230}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,27},{122,230}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{124,244}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{124,244}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{124,248}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{124,248}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,248}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{126,248}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{134,236}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{134,236}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,484},{130,222}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{130,222}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{114,230}}</string>
                <key>offset</key>
                <string>{34,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,37},{114,230}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{102,228}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,39},{102,228}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,484},{98,228}}</string>
                <key>offset</key>
                <string>{26,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,39},{98,228}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,714},{90,228}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{90,228}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,232},{90,222}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,37},{90,222}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{96,220}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{96,220}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,232},{100,220}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,37},{100,220}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,376},{100,214}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,38},{100,214}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,444},{102,216}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{102,216}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,454},{110,218}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{110,218}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,134},{122,214}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,38},{122,214}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{132,214}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,42},{132,214}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,220},{134,214}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{134,214}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{130,214}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,46},{130,214}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,708},{120,218}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{120,218}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,708},{110,218}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{110,218}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,224},{106,218}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{106,218}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{102,218}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{102,218}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,674},{102,216}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{102,216}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,478},{104,212}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{104,212}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,668},{112,208}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,41},{112,208}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,782},{124,204}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{124,204}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,714},{134,202}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,46},{134,202}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,714},{134,202}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,46},{134,202}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,850},{128,202}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,46},{128,202}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,782},{112,204}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,45},{112,204}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,218},{102,206}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,44},{102,206}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>golem_walk0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,562},{104,210}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,41},{104,210}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>golem1.png</string>
            <key>size</key>
            <string>{1012,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35cdd41f43ba8063e8e148f2e13877c9$</string>
            <key>textureFileName</key>
            <string>golem1.png</string>
        </dict>
    </dict>
</plist>
