<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>championMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,808},{100,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,133}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>game_over_page.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{800,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,350}}</string>
                <key>sourceSize</key>
                <string>{800,350}</string>
            </dict>
            <key>healthbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{246,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,28}}</string>
                <key>sourceSize</key>
                <string>{246,28}</string>
            </dict>
            <key>inGameBottomMenuBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,706},{314,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,238}}</string>
                <key>sourceSize</key>
                <string>{314,238}</string>
            </dict>
            <key>inputText.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,910},{128,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,44}}</string>
                <key>sourceSize</key>
                <string>{128,44}</string>
            </dict>
            <key>masterMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,706},{100,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,133}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>pauseLayerColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,946},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>unitInfoBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,706},{314,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,238}}</string>
                <key>sourceSize</key>
                <string>{314,238}</string>
            </dict>
            <key>you_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,350}}</string>
                <key>sourceSize</key>
                <string>{800,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui.png</string>
            <key>size</key>
            <string>{804,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee75deda55db8756b3db417fd4e9252:9dc3dd6732509f271bb30cea569caa0f:2f754470ff94b87e73dfdaa49f8615d6$</string>
            <key>textureFileName</key>
            <string>gui.png</string>
        </dict>
    </dict>
</plist>
