<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>championMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,77},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>game_over_page.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
            <key>healthbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,130},{98,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,11}}</string>
                <key>sourceSize</key>
                <string>{98,11}</string>
            </dict>
            <key>inGameBottomMenuBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{126,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,95}}</string>
                <key>sourceSize</key>
                <string>{126,95}</string>
            </dict>
            <key>inputText.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{51,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,18}}</string>
                <key>sourceSize</key>
                <string>{51,18}</string>
            </dict>
            <key>masterMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,22},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>pauseLayerColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,130},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>unitInfoBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{126,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,95}}</string>
                <key>sourceSize</key>
                <string>{126,95}</string>
            </dict>
            <key>you_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,140}}</string>
                <key>sourceSize</key>
                <string>{320,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guilow.png</string>
            <key>size</key>
            <string>{893,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee75deda55db8756b3db417fd4e9252:9dc3dd6732509f271bb30cea569caa0f:2f754470ff94b87e73dfdaa49f8615d6$</string>
            <key>textureFileName</key>
            <string>guilow.png</string>
        </dict>
    </dict>
</plist>
