<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,38},{52,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,4}}</string>
                <key>sourceSize</key>
                <string>{52,4}</string>
            </dict>
            <key>fieryBall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fieryBall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,32},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fieryBall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,32},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fieryBall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,32},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fieryBall5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,32},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fieryBall6.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,32},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>fireball01.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{84,28}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{84,28}}</string>
                <key>sourceSize</key>
                <string>{102,32}</string>
            </dict>
            <key>iceProjectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,54}}</string>
                <key>sourceSize</key>
                <string>{101,54}</string>
            </dict>
            <key>missleA0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>missleC0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{60,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>missleD0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>tank_missle0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>projectileslow.png</string>
            <key>size</key>
            <string>{512,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a46af3aa365ec3904c862300f6a92b19$</string>
            <key>textureFileName</key>
            <string>projectileslow.png</string>
        </dict>
    </dict>
</plist>
