<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,132},{86,63}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{86,63}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{86,61}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,61}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{88,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,67},{86,63}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{80,63}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,264},{78,63}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{82,63}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,327},{84,61}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,264},{84,61}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,84},{80,61}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,396},{80,61}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,390},{80,63}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,329},{80,65}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,65}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,197},{80,65}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{80,65}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,197},{82,65}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,65}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{84,63}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
            <key>sheep_walk0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{86,63}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,63}}</string>
                <key>sourceSize</key>
                <string>{90,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheeplow.png</string>
            <key>size</key>
            <string>{256,459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9a0a3c7ce6d5dd398f5fc62fb598f16$</string>
            <key>textureFileName</key>
            <string>sheeplow.png</string>
        </dict>
    </dict>
</plist>
