<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slime_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{175,123}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{175,123}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,127},{173,125}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{173,125}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,369},{171,127}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{171,127}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,498},{165,133}}</string>
                <key>offset</key>
                <string>{-25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{165,133}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,498},{159,137}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{159,137}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,377},{155,141}}</string>
                <key>offset</key>
                <string>{-30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{155,141}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,520},{151,145}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{151,145}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,347},{137,149}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{137,149}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,377},{111,147}}</string>
                <key>offset</key>
                <string>{-52,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{111,147}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,526},{151,143}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{151,143}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,139},{195,101}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,48},{195,101}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,119},{197,103}}</string>
                <key>offset</key>
                <string>{-9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,49},{197,103}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,258},{199,103}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{199,103}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,153},{199,103}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{199,103}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,363},{199,109}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,41},{199,109}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{197,115}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{197,115}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,224},{191,121}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{191,121}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,474},{183,121}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{183,121}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_attack0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,254},{179,121}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{179,121}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{175,123}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{175,123}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,242},{177,125}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{177,125}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{185,129}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{185,129}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{195,135}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{195,135}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{207,143}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{207,143}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{217,149}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{217,149}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{223,153}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,153}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,153}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,153}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{223,153}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,153}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{217,149}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{217,149}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{207,143}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{207,143}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{195,135}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{195,135}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{185,129}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{185,129}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
            <key>slime_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,242},{177,125}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{177,125}}</string>
                <key>sourceSize</key>
                <string>{225,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slime1.png</string>
            <key>size</key>
            <string>{1021,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38dfe642a6c3df2c0b81a419a41d8a06$</string>
            <key>textureFileName</key>
            <string>slime1.png</string>
        </dict>
    </dict>
</plist>
