<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>archer_move04.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move07.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move08.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move09.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{74,91}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{74,91}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move17.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move18.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move19.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>archer_move20.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{74,91}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_archer2low.png</string>
            <key>size</key>
            <string>{990,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6073f242466b2bcd2622c8fa2e7908f1$</string>
            <key>textureFileName</key>
            <string>unit_archer2low.png</string>
        </dict>
    </dict>
</plist>
