<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank_fires0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{419,289}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{419,289}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{391,293}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,57},{391,293}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{389,329}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{389,329}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,682},{377,331}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{377,331}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,682},{377,331}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{377,331}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,682},{377,331}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{377,331}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,293},{355,349}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{355,349}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,293},{387,327}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{387,327}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{419,289}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{419,289}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{419,289}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{419,289}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
            <key>tank_fires0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{419,289}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{419,289}}</string>
                <key>sourceSize</key>
                <string>{419,357}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_tank1.png</string>
            <key>size</key>
            <string>{979,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b37ae2f5f3807a039fdec45116d8218$</string>
            <key>textureFileName</key>
            <string>unit_tank1.png</string>
        </dict>
    </dict>
</plist>
