<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PKnight_stance0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{107,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{109,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{109,107}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{109,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{109,107}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>PKnight_stance0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{107,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>pkinght_spat0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{114,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{114,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>pkinght_spat0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{114,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{114,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>pkinght_spat0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{118,108}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{118,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>pkinght_spat0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{112,108}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>pkinght_spat0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{112,108}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>pkinght_spat0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,108}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>pknight_run0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{119,102}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{119,102}}</string>
                <key>sourceSize</key>
                <string>{135,112}</string>
            </dict>
            <key>pknight_run0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{119,102}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{119,102}}</string>
                <key>sourceSize</key>
                <string>{135,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_pinkKnight2low.png</string>
            <key>size</key>
            <string>{112,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f0d64e4a54ee560464f8fd36a4e03a8$</string>
            <key>textureFileName</key>
            <string>unit_pinkKnight2low.png</string>
        </dict>
    </dict>
</plist>
