<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>archer_move04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,234}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,234}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{184,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,238}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{184,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,238}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move07.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,690},{184,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,236}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move08.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,560},{184,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,236}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move09.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,560},{184,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,236}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move10.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{184,222}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{184,222}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{184,222}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{184,222}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move12.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,452},{184,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,236}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move13.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,374},{184,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,236}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{184,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{184,236}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{184,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,240}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{184,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,240}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move17.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,188},{184,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{184,236}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{184,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{184,236}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move19.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,188},{184,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{184,236}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
            <key>archer_move20.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,226},{184,224}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{184,224}}</string>
                <key>sourceSize</key>
                <string>{186,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_archer2.png</string>
            <key>size</key>
            <string>{664,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80d6e2aefc8509efe50c3b0e49aaeaf3$</string>
            <key>textureFileName</key>
            <string>unit_archer2.png</string>
        </dict>
    </dict>
</plist>
