<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,657},{82,89}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,89}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,657},{82,89}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,89}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,657},{82,89}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,89}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{76,95}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{76,95}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{72,95}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{72,95}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{72,95}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{72,95}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,564},{58,91}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{58,91}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,564},{58,91}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{58,91}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,748},{82,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,85}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,748},{82,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,85}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,748},{82,85}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,85}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,835},{80,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,89}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,835},{80,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,89}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,386},{68,93}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{68,93}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,386},{68,93}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{68,93}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,204},{56,93}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{56,93}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_run0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,204},{56,93}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{56,93}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>soldier_shootA0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,481},{68,81}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,34},{68,81}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,481},{68,81}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,34},{68,81}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,481},{68,81}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,34},{68,81}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{112,79}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,36},{112,79}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{122,85}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,30},{122,85}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{138,95}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{138,95}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{180,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{180,107}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
            <key>soldier_shootA0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,123}}</string>
                <key>sourceSize</key>
                <string>{200,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_soldier1low.png</string>
            <key>size</key>
            <string>{169,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86dd4ce0fe074d782382465e5144605a$</string>
            <key>textureFileName</key>
            <string>unit_soldier1low.png</string>
        </dict>
    </dict>
</plist>
