<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,578},{205,221}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{205,221}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,578},{205,221}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{205,221}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,578},{205,221}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{205,221}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,575},{189,233}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{189,233}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,575},{189,233}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{189,233}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{177,237}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{177,237}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{177,237}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{177,237}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,239},{143,227}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,20},{143,227}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,239},{143,227}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,20},{143,227}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,691},{207,209}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{207,209}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,691},{207,209}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{207,209}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,691},{207,209}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{207,209}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,468},{197,221}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{197,221}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,468},{197,221}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{197,221}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,801},{167,233}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{167,233}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,801},{167,233}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{167,233}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,438},{135,229}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,18},{135,229}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_run0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,438},{135,229}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,18},{135,229}}</string>
                <key>sourceSize</key>
                <string>{211,247}</string>
            </dict>
            <key>soldier_shootA0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,810},{166,199}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,88},{166,199}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,810},{166,199}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,88},{166,199}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,810},{166,199}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,88},{166,199}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,239},{276,197}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,90},{276,197}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{302,213}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,74},{302,213}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{344,235}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,52},{344,235}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{448,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{448,267}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
            <key>soldier_shootA0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{500,305}}</string>
                <key>sourceSize</key>
                <string>{500,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_soldier1.png</string>
            <key>size</key>
            <string>{935,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d34f9cfc4c4466cfef48ac6d111c4b8e$</string>
            <key>textureFileName</key>
            <string>unit_soldier1.png</string>
        </dict>
    </dict>
</plist>
