<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baron_attackA0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{265,189}}</string>
                <key>offset</key>
                <string>{-37,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,57},{265,189}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{265,189}}</string>
                <key>offset</key>
                <string>{-37,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,57},{265,189}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{325,201}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{325,201}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{325,201}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{325,201}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,205},{321,205}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{321,205}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{321,231}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{321,231}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,205},{255,195}}</string>
                <key>offset</key>
                <string>{-28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,51},{255,195}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,205},{255,195}}</string>
                <key>offset</key>
                <string>{-28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,51},{255,195}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{221,195}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{221,195}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{221,195}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{221,195}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
            <key>baron_attackA0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{221,195}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{221,195}}</string>
                <key>sourceSize</key>
                <string>{357,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_baron1.png</string>
            <key>size</key>
            <string>{905,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f388e9e47e97cb5bfcf8be73d247d41d$</string>
            <key>textureFileName</key>
            <string>unit_baron1.png</string>
        </dict>
    </dict>
</plist>
