<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>darksaber_run0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,109}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{386,109}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,109}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{386,109}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{354,129}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,43},{354,129}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{350,133}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,39},{350,133}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{334,155}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,41},{334,155}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{304,153}}</string>
                <key>offset</key>
                <string>{29,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{304,153}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{286,173}}</string>
                <key>offset</key>
                <string>{36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,29},{286,173}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,340},{188,161}}</string>
                <key>offset</key>
                <string>{37,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,40},{188,161}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,177},{188,161}}</string>
                <key>offset</key>
                <string>{37,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,40},{188,161}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,350},{202,171}}</string>
                <key>offset</key>
                <string>{43,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,26},{202,171}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,177},{202,171}}</string>
                <key>offset</key>
                <string>{43,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,26},{202,171}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,338},{252,179}}</string>
                <key>offset</key>
                <string>{26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,20},{252,179}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
            <key>darksaber_run0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,157},{252,179}}</string>
                <key>offset</key>
                <string>{26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,20},{252,179}}</string>
                <key>sourceSize</key>
                <string>{386,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_darkSaber2.png</string>
            <key>size</key>
            <string>{1006,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45237a66eb5f81354319ac6fc1634949$</string>
            <key>textureFileName</key>
            <string>unit_darkSaber2.png</string>
        </dict>
    </dict>
</plist>
