<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank_moves0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>tank_moves0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>tank_moves0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>tank_moves0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>tank_moves0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>tank_moves0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>tank_moves0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>tank_moves0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>tank_moves0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_tank2low.png</string>
            <key>size</key>
            <string>{512,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9e4fa5525251dfa3834252ad86b2184$</string>
            <key>textureFileName</key>
            <string>unit_tank2low.png</string>
        </dict>
    </dict>
</plist>
