<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baron_attackA0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{107,77}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{107,77}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{107,77}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{107,77}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,81}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{131,81}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,81}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{131,81}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{129,83}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{129,83}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{129,93}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{129,93}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,81},{103,79}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{103,79}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,81},{103,79}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{103,79}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,162},{91,79}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{91,79}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,162},{91,79}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{91,79}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>baron_attackA0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,162},{91,79}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{91,79}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_baron1low.png</string>
            <key>size</key>
            <string>{244,265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e54440fdefc2f7c736f6500227e3148a$</string>
            <key>textureFileName</key>
            <string>unit_baron1low.png</string>
        </dict>
    </dict>
</plist>
