<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PKnight_stance0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,546},{267,267}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,267}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,546},{269,267}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{269,267}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{269,267}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{269,267}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>PKnight_stance0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,546},{267,267}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{267,267}}</string>
                <key>sourceSize</key>
                <string>{273,273}</string>
            </dict>
            <key>pkinght_spat0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{282,270}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{282,270}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>pkinght_spat0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{282,270}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{282,270}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>pkinght_spat0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{294,270}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{294,270}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>pkinght_spat0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,274},{276,270}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{276,270}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>pkinght_spat0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,274},{276,270}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{276,270}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>pkinght_spat0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,270}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,270}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>pknight_run0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{293,249}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{293,249}}</string>
                <key>sourceSize</key>
                <string>{337,279}</string>
            </dict>
            <key>pknight_run0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{293,249}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{293,249}}</string>
                <key>sourceSize</key>
                <string>{337,279}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_pinkKnight2.png</string>
            <key>size</key>
            <string>{833,815}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a9d32e0c7211c563de29772ae22bf1b$</string>
            <key>textureFileName</key>
            <string>unit_pinkKnight2.png</string>
        </dict>
    </dict>
</plist>
