<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vikingswingB0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{94,80}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{94,80}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{94,80}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{94,80}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{92,80}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,80}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{94,80}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,80}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{124,78}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{76,80}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,1},{76,80}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{90,78}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{90,78}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{90,78}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{90,78}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,84},{74,78}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{74,78}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,84},{74,78}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{74,78}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,164},{70,76}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{70,76}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,164},{70,76}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{70,76}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,164},{70,76}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{70,76}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,164},{70,74}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{70,74}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,164},{70,74}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{70,74}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,154},{72,72}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{72,72}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,154},{72,72}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{72,72}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingswingB0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,154},{72,72}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{72,72}}</string>
                <key>sourceSize</key>
                <string>{134,84}</string>
            </dict>
            <key>vikingwalk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,82},{62,83}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{62,83}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,82},{62,83}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{62,83}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,146},{64,81}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{64,81}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,146},{64,81}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{64,81}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,146},{64,81}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{64,81}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,84},{68,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{68,81}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,84},{68,81}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{68,81}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{70,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,77}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{70,77}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,77}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,84},{78,75}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{78,75}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,84},{78,75}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{78,75}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,84},{78,75}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{78,75}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,84},{80,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{80,73}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,84},{80,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{80,73}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,159},{72,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{72,75}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,159},{72,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{72,75}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,80},{54,83}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{54,83}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,80},{54,83}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{54,83}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>vikingwalk0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,136},{60,83}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{60,83}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_viking1low.png</string>
            <key>size</key>
            <string>{602,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02ffb091096cce4869fca29b1dbf6cbb$</string>
            <key>textureFileName</key>
            <string>unit_viking1low.png</string>
        </dict>
    </dict>
</plist>
